NEXT_PUBLIC_WHATSAPP_NUMBER=971564564441
NEXT_PUBLIC_PHONE=+971564564441
NEXT_PUBLIC_EMAIL=Nestro.ae@gmail.com
NEXT_PUBLIC_FORM_ENDPOINT=https://api.web3forms.com/submit
NEXT_PUBLIC_FORM_ACCESS_KEY=your_key_here
NEXT_PUBLIC_SITE_URL=https://nestro.ae
